version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/backend"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    labels: ["security", "dependencies", "backend"]
    allow:
      - dependency-type: "direct"

  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    labels: ["security", "dependencies", "frontend"]
    allow:
      - dependency-type: "direct"
